<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="AWT.css">
    <title>Advanced web technology</title>
</head>
<body>
  <button onclick="topFunction()" id="myBtn" title="Go to top"><img src=./images/top.webp"  width="25px" height="25px"></button>
    <h1>━━━━━━━━━━━ Advanced Web Technology ━━━━━━━━━━━</h1>
   <p> Web technology is defined as the process of communication between two computers means by which two computers communicate between them using a Markup language and different multimedia packages is called web technology. Web technology can also be defined as mediator or medium between a server (web server) and client (web client). </p>
    <p>Web Technology introduces you to the basic concepts of the internet, it also deals with the resources needed to access the Internet. 
    This course introduces concepts, principles and methods in current client and server-side Web technologies. Basic Web technologies such as HTML, HTTP, CSS, XML, JavaScript etc. are a prerequisite to take this course. The focus of this course is rather on advanced topics in emerging Web technologies.
    <br><br>
    <b>Web Technology can be classified into the following sections:</b>
    <br>
    World Wide Web (WWW): The World Wide Web is based on several different technologies : Web browsers, Hypertext Markup Language (HTML) and Hypertext Transfer Protocol (HTTP).
    <br>
    Web Browser: The web browser is an application software to explore www (World Wide Web). It provides an interface between the server and the client and requests to the server for web documents and services.
    <br>
    Web Server: Web server is a program which processes the network requests of the users and serves them with files that create web pages. This exchange takes place using Hypertext Transfer Protocol (HTTP).
    <br>
    Web Pages: A webpage is a digital document that is linked to the World Wide Web and viewable by anyone connected to the internet has a web browser.
    <br>
    Web Development: Web development refers to the building, creating, and maintaining of websites. It includes aspects such as web design, web publishing, web programming, and database management. It is the creation of an application that works over the internet i.e. websites.
    Web Development can be classified into two ways:
    <br>
    <b>Frontend Development:</b> The part of a website that the user interacts directly is termed as front end. It is also referred to as the ‘client side’ of the application.
<br><img src="./images/frontend.png" width="100%" ><br>
<b>Backend Development: </b>Backend is the server side of a website. It is the part of the website that users cannot see and interact. It is the portion of software that does not come in direct contact with the users. It is used to store and arrange data.
</p><br>    <img src="./images/backend.jpeg" width="100%"><br>


<br>
<hr>
<br>
    <H3>━━━━━━━━━━━ BOOKS ━━━━━━━━━━━</H3>
    <iframe src="./BOOKS/AWT/book1.pdf" 
    width="420" height="345">
    </iframe>

    <iframe src="./BOOKS/AWT/book2.pdf" 
    width="420" height="345">
    </iframe>

    <iframe src="./BOOKS/AWT/book3.pdf" 
    width="420" height="345">
    </iframe>
<br>
<hr>
<br>
    <H3>━━━━━━━━━━━ VIDEOS ━━━━━━━━━━━
    </H3>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/ysEN5RaKOlA?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=http://youtubeembedcode.com">
    </iframe>

    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");
        
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }
        
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
      </script>
    
</body>
</html>
