<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="c&c++.css">
   
    <title>Programming through C & C++</title>
</head>
<body>

    <button onclick="topFunction()" id="myBtn" title="Go to top"><img src="C:\Users\User\Desktop\PROJECT\images\top.webp"  width="25px" height="25px"></button>
    
<h3>»━━━━━━━━━━━  INTRODUCTION TO C  ━━━━━━━━━━━━«</h3>

       <b><p>What is C?</b><br><br>
            C is a general-purpose programming language created by Dennis Ritchie at the Bell Laboratories in 1972.
          
            It is a very popular language, despite being old.
      
            C is strongly associated with UNIX, as it was developed to write the UNIX operating system.
            <br><br>
            <b>Why Learn C?</b><br><br>
            It is one of the most popular programming language in the world
            If you know C, you will have no problem learning other popular programming languages such as Java, Python, C++, C#, etc, as the syntax is similar
            C is very fast, compared to other programming languages, like Java and Python
            C is very versatile; it can be used in both applications and technologies.<br><br>
           <b>Difference between C and C++</b><br><br>
            C++ was developed as an extension of C, and both languages have almost the same syntax.<br>
            The main difference between C and C++ is that C++ support classes and objects, while C does not.<br></p>
            <hr>
  

   <table>
    <tr> <b><h3>»━━━━━━━━━━━  History of C language  ━━━━━━━━━━━━«</h3></b><br>
     
        <td><br>  <img src="C:\Users\User\Desktop\PROJECT\images\deniss.png"  width="370" height="335" ></td>
        <td><p> The base or father of programming languages is ‘ALGOL.’ It was first introduced in 1960. ‘ALGOL’ was used
            on a large basis in European countries. ‘ALGOL’ introduced the concept of structured programming to the 
            developer community. In 1967, a new computer programming language was announced called as ‘BCPL’ which
             stands for Basic Combined Programming Language. BCPL was designed and developed by Martin Richards, 
             especially for writing system software. This was the era of programming languages. Just after three years,
              in 1970 a new programming language called ‘B’ was introduced by Ken Thompson that contained multiple
               features of ‘BCPL.’ This programming language was created using UNIX operating system at AT&T and Bell
                Laboratories. Both the ‘BCPL’ and ‘B’ were system programming languages.</p></td>
    </tr>
</table> 

</div>
<hr>  
 
    <H3>»━━━━━━━━━━━ C Programming For Beginners ━━━━━━━━━━━━«</H3>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/8PopR3x-VMY">
    </iframe>
    <br>
    <hr>
    <br>
    <H3>»━━━━━━━━━━━ C++ Programming For Beginners ━━━━━━━━━━━━«</H3>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/vLnPwxZdW4Y"></iframe>
    <br>
    <hr>
    <br>
    <H3>»━━━━━━━━━━━BOOKS ━━━━━━━━━━━━«</H3>
    <iframe src="C:\Users\User\Desktop\PROJECT\BOOKS\c & c++\object-oriented-programming-with-c++-by-e-balagurusamy.pdf" 
    width="420" height="345">
    </iframe>
    <br>
    <hr>
    <br>
<h3>»━━━━━━━━━━━ EXTRA COURSES━━━━━━━━━━━━« </h3>
<br>
   <p><a href="https://www.udemy.com/course/c-and-c-programming/">Udemy Course</a></p><br>


   <script>
    //Get the button
    var mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>

</body>
</html>