<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contact.css">
    <title>Contact us</title>
</head>
<body>
   
    <div class="container">
      <h1>Contact Us</h1>
          <form action="https://formsubmit.co/2f8c204cf67aea5a39d7cc6301c1b737" method="POST">
        
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
      
          
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      
        
          <select id="country" name="country">
            <option value="australia">India</option>
            <option value="canada">Japan</option>
            <option value="usa">USA</option>
          </select>
      
        
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      
           <button type="submit" value="Submit">submit</button>
      
        </form>
        <hr>

        
    </div>
</body>
</html>