<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="datascience.css">
    <title>Data Science</title>
</head>
<body>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><img src="./images/top.webp"  width="25px" height="25px"></button>
    <h1>»━━━━━━━━━━━Introduction to Data Science━━━━━━━━━━━━«</h1>
<p>The data science syllabus comprise Maths, statistics, business intelligence, coding, data analysis, machine learning, big data.Data science is an inter-disciplinary discipline that makes use of algorithms, data sets, and scientific techniques that help gain insights from structured or unstructured data.</p>
<br>
<b>The Data Science Lifecycle</b>
<br>
Capture: Data Acquisition, Data Entry, Signal Reception, Data Extraction. This stage involves gathering raw structured and unstructured data.
<br>Maintain: Data Warehousing, Data Cleansing, Data Staging, Data Processing, Data Architecture. This stage covers taking the raw data and putting it in a form that can be used.
<br>Process: Data Mining, Clustering/Classification, Data Modeling, Data Summarization. Data scientists take the prepared data and examine its patterns, ranges, and biases to determine how useful it will be in predictive analysis.
<br>Analyze: Exploratory/Confirmatory, Predictive Analysis, Regression, Text Mining, Qualitative Analysis. Here is the real meat of the lifecycle. This stage involves performing the various analyses on the data.
<br>Communicate: Data Reporting, Data Visualization, Business Intelligence, Decision Making. In this final step, analysts prepare the analyses in easily readable forms such as charts, graphs, and reports.
     <br>
    <br><hr><br><h3>»━━━━━━━━━━━BOOKS━━━━━━━━━━━━«</h3>
<iframe src="./BOOKS/datascience/book1.pdf" width="420" height="345">
</iframe>

    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");
        
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }
        
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
        </script>
    
</body>
</html>
