<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="DCCN.css">
    <title>Data Communication and Computer Networks</title>
</head>
<body>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><img src="C:\Users\User\Desktop\PROJECT\images\top.webp"  width="25px" height="25px"></button>
    <h1>»━━━━━━━━━━━ Data Communication and Computer Networks━━━━━━━━━━━━«</h1>
    <p><b>SYLLABUS</b><br>
   <b>Module-1</b><br>
    Introduction to Computer Networks and Physical Layer
    
    Networking Devices, Classification of Computer Networks, Network Protocol Stack (TCP/IP and ISO-OSI),Network Standardization and Examples of Networks.Data Transmission Concepts, Analog and Digital Data Transmission, Communication media, Digital modulation techniques (FDMA,TDMA,CDMA).
    <br>
   <b> Module-2</b><br>
    Data Link layer
    
    Data link layer design issues, Error Detection and Correction Codes, Data Link Protocols (Simplex Stop-and-wait protocol for Error free and noisy channel) and Sliding window protocols.
    
     
    
    Medium Access Sub Layer
    
    The Channel Allocation Problem, Multiple access protocols and Examples, Wireless LAN, Bluetooth.
    <br>
    <b>Module-3</b><br>
    Network Layer
    
    Network Layer Design issues, Routing algorithms, Congestion Control Algorithms, Quality of Service, Internetworking and The Network Layer in the Internet.
    <br>
   <b> Module-4</b><br>
    The Transport Layer
    
    The Transport Service, Elements of Transport Protocols, Congestion Control, The Internet Transport Protocol: UDP, The Internet Transport Protocols – TCP.
    <br>
    <br><b>Module-5</b>
    The application Layer
    
    DNS: Domain Name Space, Domain Resource Records, Domain Name Servers. Electronic mail: SMTP, The World Wide Web: Static and dynamic web pages, web applications, HTTP, mobile web. Streaming audio and Video: Digital audio and video, streaming stored and live media, Content delivery: Content and internet traffic, content delivery networks, peer-to-peer networks.
  </p>
<br>
<hr>
<br>
<p><b>What is Computer Network?</b><br>
A computer network is a set of devices connected through links. A node can be computer, printer, or any other device capable of sending or receiving the data. The links connecting the nodes are known as communication channels.
<br>
Computer Network uses distributed processing in which task is divided among several computers. Instead, a single computer handles an entire task, each separate computer handles a subset.
</p>
<br>
<hr>
<br>
    <h3>»━━━━━━━━━━━ Text Books━━━━━━━━━━━━«</h3>
    <iframe src="C:\Users\User\Desktop\PROJECT\BOOKS\DCCN\book2.pdf" width="420" height="345">
    </iframe>
    <iframe src="C:\Users\User\Desktop\PROJECT\BOOKS\DCCN\book1.pdf" width="420" height="345">
    </iframe><br>

    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");
        
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }
        
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
        </script>
    
</body>
</html>