<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discrete mathematics</title>
    <link rel="stylesheet" href="DM.css">
</head>
<body>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><img src="./images/top.webp"  width="25px" height="25px"></button>
    <h1>━━━━━━━━━━━  Discrete Mathematics ━━━━━━━━━━━</h1>
    <p>Discrete mathematics is the branch of mathematics dealing with objects that can consider only distinct, separated values. This tutorial includes the fundamental concepts of Sets, Relations and Functions, Mathematical Logic, Group theory, Counting Theory, Probability, Mathematical Induction, and Recurrence Relations, Graph Theory, Trees and Boolean Algebra.
    Discrete mathematics is the branch of mathematics dealing with objects that can consider only distinct, separated values. This tutorial includes the fundamental concepts of Sets, Relations and Functions, Mathematical Logic, Group theory, Counting Theory, Probability, Mathematical Induction, and Recurrence Relations, Graph Theory, Trees and Boolean Algebra.
    <br>Topics Covered:
<br>
    Set Theory: Set theory is defined as the study of sets which are a collection of objects arranged in a group. The set of numbers or objects can be denoted by the braces {} symbol. For example, the set of first 4 even numbers is {2,4,6,8}
<br>
    Graph Theory: It is the study of the graph. The graph is a mathematical structure used to pair the relation between objects. Graphs are one of the prime objects of study in Discrete Mathematics.
    <br>
    Logic: Logic in Mathematics can be defined as the study of valid reasoning. There are three types of logic gates. They are AND(∧), NOT(~), and OR(∨)
    <br>
    Permutation: The different arrangements that can be made with a given number of sets taking some or all of them in a particular sequence at a time are called Permutation. For example, there are six permutations of the set {5,6,7}, namely (5,6,7), (5,7,6), (6,5,7), (6,7,5), (7,5,6), and (7,6,5).
    <br>
    Combination: The selection of a number of objects taking some or all of them at a time is called combination. The order of selection does not matter for the combination.
    <br>
    Sequence: According to some definite rules, a set of numbers arranged in a definite order is called a Sequence. A sequence is a function whose domain is the countable set of natural numbers.
    <br>
    Series: A series is the sum of the terms of a sequence. The result of adding all the terms together: s1+s2+s3+s4… is the sum of the series.
</p>
<br>
<br>
    <hr>
    <br>

<h3>━━━━━━━━━━━ Videos ━━━━━━━━━━━</h3>
<iframe width='500' height='294' src="https://www.youtube.com/embed/videoseries?list=PLrjkTql3jnm_GEUWTjAS38-hgtT3Dzuag&theme=dark&autohide=2"frameborder="0"></iframe><div style='font-size: 0.8em'><a href='http://codegena.com/generator/Youtube-Embed-Code-Generator.html'><b>Youtube: </b>Education 4u</a></div>
<iframe width='500' height='294' src="https://www.youtube.com/embed/tyDKR4FG3Yw?&theme=dark&autohide=2"frameborder="0"></iframe><div style='font-size: 0.8em'><a href='http://codegena.com/generator/Youtube-Embed-Code-Generator.html'><b>Youtube:</b>TrevTutor.</a></div>
<br>
    <hr>
    <br>

<h3>━━━━━━━━━━━ BOOKS ━━━━━━━━━━━</h3>
<iframe src="./BOOKS/DM/book1.pdf" width="420" height="345">
</iframe>
<iframe src="./BOOKS/DM/book2.pdf" width="420" height="345">
</iframe>
<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>
</body>
</html>
