<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Dotnet.css">
    <title>Dot Net tech with C#</title>
</head>
<body>
  <button onclick="topFunction()" id="myBtn" title="Go to top"><img src="./images/top.webp"  width="25px" height="25px"></button>
    <h1>━━━━━━━━━━━ Dot Net Technology with C#━━━━━━━━━━━</h1>
   <p><b>What is C#.NET?</b> <br>
The C#.NET is one of the Microsoft programming languages. It is the most powerful programming language among all programming languages available in the .NET Framework. The C#.NET contains all the features of C++, VB.NET, JAVA, and also some additional features.
.It is designed and developed by Microsoft and the first beta version released in 2000.
The C#.Net programming language is designed to be a simple, modern, general-purpose, and completely object-oriented programming language.

<br>
It is used to develop applications for web, Windows, phone. Moreover, it provides a broad range of functionalities and support.
<br>
This framework contains a large number of class libraries known as Framework Class Library (FCL). The software programs written in .NET are executed in the execution environment, which is called CLR (Common Language Runtime). These are the core and essential parts of the .NET framework.
<br>The .NET Framework is composed of four main components:<br>

Common Language Runtime (CLR)<br>
Framework Class Library (FCL),<br>
Core Languages (WinForms, ASP.NET, and ADO.NET), and<br>
Other Modules (WCF, WPF, WF, Card Space, LINQ, Entity Framework, Parallel LINQ, Task Parallel Library, etc.)</p>
<br>
<hr>
<br>
<h3>━━━━━━━━━━━ Videos ━━━━━━━━━━━</h3>
<iframe src="https://www.youtube.com/embed/GhQdlIFylQ8" width="420" height="345"></iframe>
<br>
<hr>
<br>
<h3>━━━━━━━━━━━ BOOKS ━━━━━━━━━━━</h3>
<iframe src="./BOOKS/Dotnet/Fundamentals-of-Computer-Programming-with-CSharp-Nakov-eBook-v2013.pdf" width="420" height="345">
</iframe>
<br><hr><br>
<h3>━━━━━━━━━━━ Extra Courses ━━━━━━━━━━━</h3><br>
<p><a href="https://www.udemy.com/course/c-sharp-for-beginners/">Udemy </a></p>
<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>

</body>
</html>
