<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="DSA.css">
    <title>Data Structure and Algorithm</title>
</head>
<body>
  <button onclick="topFunction()" id="myBtn" title="Go to top"><img src="../images/top.webp"  width="25px" height="25px"></button>
    <h1>━━━━━━━━━━━    <br>Data Structure and Algorithm<br> ━━━━━━━━━━━</h1>
    <p>The data structure name indicates itself that organizing the data in memory. There are many ways of organizing the data in the memory as we have already seen one of the data structures, i.e., array in C language.
      The data structure is not any programming language like C, C++, java, etc. It is a set of algorithms that we can use in any programming language to structure the data in the memory.
    </p>
<p><b>SYLLABUS</b>
    <br>Time and space complexity, Data Structures – Introduction to Data Structures, abstract data types,
    Linear list – singly linked list implementation, insertion, deletion and searching operations on linear
    list, circular linked list implementation, Double linked list implementation, insertion, deletion and
    searching operations. Applications of linked lists.<br>
    UNIT –II<br>
    Stacks-Operations, array and linked representations of stacks, stack applications -infix to postfix
    conversion, postfix expression evaluation, recursion implementation.<br>
    UNIT-III<br>
    Queues-operations, array and linked representations. Circular Queue operations, Dequeues,
    applications of queues.<br>
    UNIT-IV<br>
    Searching and Sorting – Sorting- selection sort, bubble sort, insertion sort, quick sort,
    merge sort, shell sort, radix sort, Searching-linear and binary search methods, comparison
    of sorting and searching methods.<br>
    UNIT-V<br>
    Trees – Definitions, tree representation, properties of trees, Binary tree,
    Binary tree representation, binary tree properties, binary tree traversals,
    binary tree implementation, applications of trees.<br>
    </p>
    <br>
    <hr>
    <br>
<h3>━━━━━━━━━━━ <br>Videos<br> ━━━━━━━━━━━</h3>
<iframe width='500' height='294' src="https://www.youtube.com/embed/videoseries?list=PLdo5W4Nhv31bbKJzrsKfMpo_grxuLl8LU&theme=dark&autohide=2"frameborder="0"></iframe><div style='font-size: 0.8em'><a href='http://codegena.com/generator/Youtube-Embed-Code-Generator.html'><b><youtube:</b> Jenny lectures</a></div>
<br>
<iframe width='500' height='294' src="https://www.youtube.com/embed/videoseries?list=PLBlnK6fEyqRj9lld8sWIUNwlKfdUoPd1Y&theme=dark&autohide=2"frameborder="0"></iframe><div style='font-size: 0.8em'><a href='http://codegena.com/generator/Youtube-Embed-Code-Generator.html'><b><youtube:</b>Neso Academy</a></div>
<br>
<iframe width='500' height='294' src="https://www.youtube.com/embed/videoseries?list=PLLOxZwkBK52Akgqf4oSWPOQO9ROWS_9rc&theme=dark&autohide=2"frameborder="0"></iframe><div style='font-size: 0.8em'><a href='http://codegena.com/generator/Youtube-Embed-Code-Generator.html'><b><youtube:</b>Sundeep Saradhi Kanthety</a></div>

<br>
<hr>
<br>
<h3>━━━━━━━━━━━ BOOKS ━━━━━━━━━━━</h3>
<iframe src="../BOOKS/DSA/book1.pdf" width="420" height="345">
</iframe>
<iframe src="../BOOKS/DSA/book2.pdf" width="420" height="345">
</iframe>
<iframe src="../BOOKS/DSA/book3.pdf" width="420" height="345">
</iframe>
<br><br><br><hr>
<b>TEXT BOOKS:</b><br>
1. Fundamentals of Data structures in C, 2nd Edition, E.Horowitz, S.Sahni
and Susan Anderson-Freed, Universities Press.<br>
2. Data structures A Programming Approach with C, D.S.Kushwaha and A.K.Misra, PHI.

<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>

</body>
</html>
