<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ISCL.css">
    <title>Information Security and Cyber Law</title>
</head>
<body>
  <button onclick="topFunction()" id="myBtn" title="Go to top"><img src="../images/top.webp"  width="25px" height="25px"></button>
    <h1>━━━━━━━━━━━  <br>Information Security and Cyber Law <br>   
        ━━━━━━━━━━━</h1>
    <p> Information Security is basically the practice of preventing unauthorized access, use, disclosure, disruption, modification, inspection, recording or destruction of information. Information can be physical or electronic one. Information can be anything like Your details or we can say your profile on social media, your data in mobile phone, your biometrics etc. Thus Information Security spans so many research areas like Cryptography, 
      Mobile Computing, Cyber Forensics, Online Social Media etc. </p>
    <p><b> Syllabus</b><br>
   <b>1. Information Security</b>             <br>
Need of Information Security, Attributes of Information Security, Authentication, Confidentiality,
Integrity, Availability, Non Repudiation.
<br>
<b>2. Security Services, mechanism and attacks</b><br>
Access Control, Threats and Vulnerabilities, Security Attacks, Unauthorized Access,
Impersonation, Denial of Service, Malicious Software, Viruses, Worms, Trojan Horses.
Definitions, Types of authentication, Password Authentication, Password Vulnerabilities
&Attacks: Brute Force & Dictionary Attacks. Password Policy & Discipline, Single Sign‐on –
Kerberos, Alternate Approaches, Biometrics: Types of Biometric Techniques: False Rejection,
False Acceptance, Cross over Error Rates.
<br>
<b>3. Physical and System Security</b>  <br>
Function of Operating system , Types of OS ( Real time OS, Single User Single task OS, Single
User‐Multi tasking System, Multiuser System), Task of OS , Process, Memory Management,
Device Management, Storage Management, Application Interface, User Interface, Security
Weakness, Operating System, Windows Weakness,    Hardening OS during Installation, Secure
User Account Policy, Strong User Password Policy, Creating list of Services and Programs running
on Server, Patching Software, Hardening Windows, Selecting File System, Active Directory /
Kerberos, General Installation Rules.
<br>
 <b>   
    4. Internet and Web security </b><br>       
Web Servers and Browsers, HTTP, Cookies, Caching, Plug‐in, ActiveX, Java, JavaScript, Secure
Socket Layer (SSL), Secure Electronic Transaction (SET).
E‐mail Risks, Spam, E‐mail Protocols, Simple Mail Transfer Protocol (SMTP), Post office Protocol
(POP), Internet Access Message protocol (ICMP).
Secured Mail: Pretty Good Privacy (PGP), S/MIME(Secure/Multipurpose Internet Mail
Extensions)
<br>  
    <b>5.        Network security Fundamentals </b><br>
Network Devices: Switches, Routers, Firewalls, VPN Concentrators, Load Balancers, Proxies.
Network Protocol: Overview of IPV4 and IPV6, OSI Model, Maximum Transfer Unit, Internet
Protocol (IP), Transport Control Protocol (TCP), User Datagram Protocol (UDP), Internet Control
Message Protocol (ICMP), Address Resolution Protocol (ARP), Reverse Address Resolution
Protocol (RARP), Domain Name System (DNS).<br>
Network Design: Network Address Translation (NAT), Demilitarized Zone (DMZ), Subnetting,
Switching, Virtual Local Area Network (VLAN).<br>
Network Attack: Buffer Overflow, TCP Session, Hijacking, Sequence Guessing, Network Scanning.
IP Security overview and architectur.</p>
<br>
<hr>
<br>
<h3>━━━━━━━━━━━ <br>Videos<br> ━━━━━━━━━━━</h3>

<iframe width='500' height='294' src="https://www.youtube.com/embed/videoseries?list=PLYwpaL_SFmcArHtWmbs_vXX6soTK3WEJw&theme=dark&autohide=2"frameborder="0"></iframe><div style='font-size: 0.8em'><a href='http://codegena.com/generator/Youtube-Embed-Code-Generator.html'><b>Youtube:</b>% minutes engineering</a></div>

<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>
</body>
</html>
