<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="TOC.css">
    <title>THEORY OF COMPUTATION</title>
</head>
<body>
  <button onclick="topFunction()" id="myBtn" title="Go to top"><img src="./images/top.webp"  width="25px" height="25px"></button>
 
    <h1> »━━━━━━━━━━━ THEORY OF COMPUTATION━━━━━━━━━━━━«</h1>
   <p><b>SYLLABUS</b><br>
<b>UNIT - I</b>
FINITE AUTOMATA (FA): Introduction, Deterministic Finite Automata (DFA) -Formal definition,
simpler notations (state transition diagram, transition table), language of a DFA. Nondeterministic
Finite Automata (NFA)- Definition of NFA, language of an NFA, Equivalence of Deterministic and
Nondeterministic Finite Automata, Applications of Finite Automata, Finite Automata with Epsilon
Transitions, Eliminating Epsilon transitions, Minimization of Deterministic Finite Automata, Finite
automata with output (Moore and Mealy machines) and Inter conversion.<br>
<b>UNIT - II</b><br>
REGULAR EXPRESSIONS (RE): Introduction, Identities of Regular Expressions, Finite Automata
and Regular Expressions- Converting from DFAs to Regular Expressions, Converting Regular
Expressions to Automata, applications of Regular Expressions.
REGULAR GRAMMARS: Definition, regular grammars and FA, FA for regular grammar, Regular
grammar for FA. Proving languages to be non-regular -Pumping lemma, applications, Closure
properties of regular languages.<br>
<b>UNIT - III</b><br>
CONTEXT FREE GRAMMER (CFG): Derivation Trees, Sentential Forms, Rightmost and Leftmost
derivations of Strings. Ambiguity in CFGs, Minimization of CFGs, CNF, GNF, Pumping Lemma for
CFLs, Enumeration of Properties of CFL .<br>
<b>UNIT-IV</b><br>
PUSHDOWN AUTOMATA: Definition, Model, Acceptance of CFL, Acceptance by Final State and
Acceptance by Empty stack and its Equivalence, Equivalence of CFG and PDA.
TURING MACHINES (TM): Formal definition and behaviour, Languages of a TM, TM as accepters,
<br><b>UNIT V</b><br>

RECURSIVE AND RECURSIVELY ENUMERABLE LANGUAGES (REL): Properties of recursive
and recursively enumerable languages, Universal Turing machine, The Halting problem, Undecidable
problems about TMs. Context sensitive language and linear bounded automata (LBA), Chomsky
hierarchy, Decidability, Post's correspondence problem (PCP), undecidability of PCP.</p>
<br>
<hr>
  <p> Automata theory (also known as Theory Of Computation) is a theoretical branch of Computer Science and Mathematics, which mainly deals with the logic of computation with respect to simple machines, referred to as automata. 

Automata* enables scientists to understand how machines compute the functions and solve problems. The main motivation behind developing Automata Theory was to develop methods to describe and analyze the dynamic behavior of discrete systems. 

Automata originated from the word “Automaton” which is closely related to “Automation”.</p> 


<br>
<hr>
<br>
<h3>»━━━━━━━━━━━VIDEOS━━━━━━━━━━━━«</h3>

<iframe width='500' height='294' src="https://www.youtube.com/embed/videoseries?list=PLBlnK6fEyqRgp46KUv4ZY69yXmpwKOIev&theme=dark&autohide=2"frameborder="0"></iframe><div style='font-size: 0.8em'><a href='http://codegena.com/generator/Youtube-Embed-Code-Generator.html'><b>Youtube:</b>Neso Academy</a></div>
<iframe width='500' height='294' src="https://www.youtube.com/embed/videoseries?list=PLrjkTql3jnm_TWSXXvWX1_jX-L6f1QJSx&theme=dark&autohide=2"frameborder="0"></iframe><div style='font-size: 0.8em'><a href='http://codegena.com/generator/Youtube-Embed-Code-Generator.html'><b>Youtube:</b>>Education 4u</a></div>
<br>
<hr>
<br>
<h3>»━━━━━━━━━━━ BOOKS━━━━━━━━━━━━«</h3>

<b> TEXT BOOKS:</b><br>
<iframe src="./BOOKS/TOC/book1.pdf" width="420" height="345">
</iframe><br><br>
1. John E. Hopcroft, Rajeev Motwani, Jeffrey D. Ullman (2007), Introduction to Automata Theory
Languages andComputation, 3rdedition, Pearson Education, India.
<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>
</body>
</html>
